#root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Establecer el fondo de la página con una imagen desde una URL */
body {
  background-image: url('https://i.pinimg.com/564x/89/af/ee/89afeea07f09c792b40ba026f0539101.jpg');
  background-repeat: no-repeat; 
  background-size: cover; /* Escala la imagen para cubrir todo el fondo */
}
  /* Puedes agregar más propiedades según sea necesario Recuerda que aqui se aplican los cambios GLOBALES*/